@{
    ViewBag.Title = "Contact";
}
<h1>Contact view of Home</h1>
<form method="post">
    <input id="Text1" type="text" name="email" id="useremail"/>
    <input id="Submit1" type="submit" value="ContactUs Via Email" />

</form>